name: Metrics
on:
  schedule:
    - cron: '0 0/12 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: matrics1
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

          filename: metrics1.svg
          user: RikiyaFujii
          template: repository
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tokyo
          config_twemoji: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 10
          plugin_languages_sections: recently-used, most-used
          plugin_languages_ignored: html
          plugin_languages_recent_load: 1000
          plugin_languages_recent_days: 365

      - name: metrics2
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

          filename: metrics2.svg
          user: RikiyaFujii
          base: ""
          config_timezone: Asia/Tokyo
          config_twemoji: yes
          plugin_skyline: yes
